<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>SENAR</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.1.7</string>
	<key>CFBundleName</key>
	<string>SENAR</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ar</string>
		<string>en</string>
	</array>
	<key>GMSApiKey</key>
	<string>AIzaSyCvLDETWANAijGWUxdHaV7F_ph3PyQsHho</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>يحتاج التطبيق إلى الوصول إلى الكاميرا لالتقاط الصور وتحميلها</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>يحتاج التطبيق إلى الوصول إلى موقعك لتوصيل الطلبات بدقة وتتبع سائقي التوصيل</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>يحتاج التطبيق إلى الوصول إلى موقعك لتوصيل الطلبات بدقة وتتبع سائقي التوصيل</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>يحتاج التطبيق إلى الوصول إلى موقعك الحالي لتحديد موقعك على الخريطة وتوصيل الطلبات بدقة</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>يحتاج التطبيق إلى الوصول إلى الميكروفون للتواصل مع خدمة العملاء</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>يحتاج التطبيق إلى الوصول إلى معرض الصور لاختيار الصور وتحميلها</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>نحتاج إلى إرسال إشعارات لإعلامك بحالة طلباتك وتحديثات التطبيق المهمة</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.com.senar.app</string>
	</array>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>UNNotificationSoundName</key>
	<string>notification.wav</string>
</dict>
</plist>
